<div id="container">

<p id="notice"><%= notice %></p>


<table>
  <thead>
       <tr>
      <th>Date</th>
      <th>Current Logged In Time</th>
      <th>Last Logged In Time</th>
      <th>Department Name</th>
      <th>Work Comment</th>
      <th>Task</th>
      <th>Ip address</th>
      <th>Action</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%=employee.created_at.strftime('%d-%m-%y')%></td>
        <td><%=current_user.current_sign_in_at.to_time.to_datetime.strftime('%H:%M:%S IST') %></td>
        <td><%=current_user.last_sign_in_at.to_time.to_datetime.strftime('%H:%M:%S IST') %></td>
        <td><%=employee.department%></td>
        <td><%=employee.work_comment%></td>
        <td><%=employee.task%></td>
        <td><%=current_user.current_sign_in_ip%></td>
        <td><%=link_to "Back", :back%></td>
        <% if employee.created_at.strftime('%d-%m-%y') == Date.today.strftime('%d-%m-%y') %>
        	<td><%=link_to "Today Active", employee_path(employee),{:style=>'color:green;'}%></td>
        <% else %>
        	<td><%=link_to "Old", employee_path(employee),{:style=>'color:red;'}%></td>
        <% end %>
       
      </tr>
  </tbody>
</table>

<br>

</div>
