<!DOCTYPE html>
<html>
<head>
  <title>ManagerV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
  <div id="user_nav">
  
</div>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<%= yield %>
<%= link_to "new reimbursement", new_reimbursement_path , remote: true%>
<%= link_to "all employees", employees_path, remote: true%>
<%= link_to "salary", salaries_path, remote: true%>
<%= link_to "leave", new_home_path, remote: true%>


</body>
</html>
